.contacto{
    margin: 0;
    width: 100vw;
    background-color: var(--banner-amarillo);
}

@media screen and (min-width: 0){
    .contacto{
        padding: 2rem 0 2rem 0;
        background-image: none;
    }
}

@media screen and (min-width: 768px){
    .contacto{
        background-image: none;
    }
}

@media screen and (min-width: 992px){
    .contacto{
        padding: 5rem 0 2rem 0;
       
        background-image: url(../../imgs/reb2.png);
        background-repeat: no-repeat;
        background-position: top 50% left -10%;
        background-size: 52%;

        /*background-image: url(../../imgs/scion2.png);
        background-repeat: no-repeat;
        background-position: top 50% left -10%;
        background-size: 54%;*/
    }
    
}